### Data Sources : https://archive.ics.uci.edu/ml/machine-learning-databases/00228/

In [1]:
import numpy as np
import pandas as pd

In [2]:
df=pd.read_csv('smsspam',sep='\t',names=['Status','Message'])

In [3]:
df.head()

  Status                                            Message
0    ham  Go until jurong point, crazy.. Available only ...
1    ham                      Ok lar... Joking wif u oni...
2   spam  Free entry in 2 a wkly comp to win FA Cup fina...
3    ham  U dun say so early hor... U c already then say...
4    ham  Nah I don't think he goes to usf, he lives aro...

In [4]:
len(df)

5572

In [5]:
len(df[df.Status=='spam'])

747

In [6]:
len(df[df.Status=='ham'])

4825

- loc gets rows (or columns) with particular labels from the index.
- iloc gets rows (or columns) at particular positions in the index (so it only takes integers).

In [7]:
df.loc[df["Status"]=='ham',"Status",] = 1

In [8]:
df.loc[df["Status"]=='spam',"Status",] = 0

In [9]:
df.head()

  Status                                            Message
0      1  Go until jurong point, crazy.. Available only ...
1      1                      Ok lar... Joking wif u oni...
2      0  Free entry in 2 a wkly comp to win FA Cup fina...
3      1  U dun say so early hor... U c already then say...
4      1  Nah I don't think he goes to usf, he lives aro...

In [10]:
df_x = df["Message"]
df_y = df["Status"]